entity_config:
    extend:
        field:
            items:
                #
                # Boolean parameter. If true - field data will be saved in serialized_data column without
                #  doctrine schema update
                #
                is_serialized:
                    options:
                        required_properties:
                            -
                               config_id:
                                  scope:  dataaudit
                               code:      auditable
                               value:     false
                            -
                               config_id:
                                  scope:  importexport
                               code:      identity
                               value:     false
                    grid:
                        type:               select
                        label:              oro.entity_serialized_fields.form.is_serialized.label
                        required:           true
                        sortable:           true
                        choices:
                            oro.entity_serialized_fields.form.is_serialized.database: 0
                            oro.entity_serialized_fields.form.is_serialized.serialized: 1
                length:
                    options:
                        required_properties:
                            -
                               config_id:
                                  scope:  extend
                               code:      is_serialized
                               value:     false
                precision:
                    options:
                        required_properties:
                            -
                               config_id:
                                  scope:  extend
                               code:      is_serialized
                               value:     false
                scale:
                    options:
                        required_properties:
                            -
                               config_id:
                                  scope:  extend
                               code:      is_serialized
                               value:     false
    dataaudit:
        field:
            items:
                auditable:
                    options:
                        required_properties:
                            -
                               config_id:
                                  scope:  extend
                               code:      is_serialized
                               value:     false
    importexport:
        field:
            items:
                identity:
                    options:
                        required_properties:
                            -
                               config_id:
                                  scope:  extend
                               code:      is_serialized
                               value:     false
